<title>Chat</title>
<style>	li {list-style-type: none}</style>
<ul id=chat></ul>
<form id=publish style=width:250>
<fieldset>
	<textarea id=txt></textarea>
	<input type=submit>
</fieldset>
</form>
<form id=upload>
	<input id=file type=file name=file>
	<input id=btSend type=submit disabled=true>
</form>
<script>'use strict'
var socket = new WebSocket('ws://localhost:8080/room')
socket.onmessage = e =>	{
	chat.innerHTML += '<li>' + e.data
}
publish.onsubmit = () => {
	if (txt.value) {
		socket.send(txt.value)
		txt.value = ''
	}
	return false
}
file.onchange = () => {
	btSend.value = "Submit"
	btSend.disabled = false
}
upload.onsubmit = e => {
	e.preventDefault()
	btSend.disabled = true
	if (file.files[0].size < 1 << 30) {
		var xhr = new XMLHttpRequest()
		xhr.open("POST", "/")
		xhr.send(new FormData(upload))
		btSend.value = "File is sent"
	} else
		alert("File size > 1Gb. Upload is discarded")
	file.value = ""
}
</script>