<title>Chat</title>
<style>
	li {list-style-type: none}
</style>
<ul id=chat></ul>
<form id=publish style=width:250>
<fieldset>
	<textarea id=txt></textarea>
	<input type=submit>
</fieldset>
</form>
<form id=upload>
	<input id=file type=file name=myFile>
	<input id=btSend type=submit disabled=true>
</form>
<script>'use strict'
var socket = new WebSocket('ws://localhost:8080/room')
socket.onmessage = e =>	{
	var li = document.createElement('li')
	li.innerHTML  = e.data
	chat.appendChild(li)
}
publish.onsubmit = () => {
	if (txt.value) {
		socket.send(txt.value)
		txt.value = ''
	}
	return false
}
file.onchange = () => {
	btSend.value = "Submit"
	btSend.disabled = false
}
upload.onsubmit = e => {
	e.preventDefault() 
	if ((upload.myFile.files[0].size) > 1 << 30) {
		alert("Size of the file is more then 1Gb. Upload is impossible")
	}
	var formData = new FormData(upload),
		xhr = new XMLHttpRequest()
	xhr.open("POST", "/")
	xhr.send(formData)
	btSend.value = "File is sent"
	btSend.disabled = true
	upload.myFile.value = ""
}
</script>