<title>Chat</title>
<ul id=chat></ul>
<form id=publish style=width:250>
<fieldset>
	<textarea id=txt></textarea>
	<input type=submit>
</fieldset>
</form>
<form id=upload>
	<input type=file name=myFile>
	<input type=submit>
</form>
<script>
var socket = new WebSocket('ws://localhost:8080/room')
publish.onsubmit = () => {
	if (txt.value) {
		socket.send(txt.value)
		txt.value = ''
	}
	return false
}
socket.onmessage = e =>	{
	var li = document.createElement('li')
	li.innerHTML  = e.data
	chat.appendChild(li)
}
upload.onsubmit = e => {
	e.preventDefault() 
	if ((upload.myFile.files[0].size) > 1 << 30) {
		alert("Size of the file is more then 1Gb. Upload is impossible")
	}
	var formData = new FormData(upload),
		xhr = new XMLHttpRequest()
	xhr.open("POST", "/")
	xhr.send(formData)
	upload.myFile.value = ""
}
</script>